<div *ngIf="user&&loggedIn()">
    <h5>Hesap Bilgileri</h5>
    <ul class="list-group mb-1">
        <li class="list-group-item row" data-bs-toggle="modal" data-bs-target="#fullName">
            <td class="col-md-6"><strong>Ad</strong></td>
            <td class="col-md-6">{{user.firstName}} {{user.lastName}}</td>
        </li>
    </ul>
    <ul class="list-group mb-1">
        <li class="list-group-item row" data-bs-toggle="modal" data-bs-target="#email">
            <td class="col-md-6"><strong>Email</strong></td>
            <td class="col-md-6">{{user.email}}</td>
        </li>
    </ul>
    <ul class="list-group mb-1">
        <li class="list-group-item row" data-bs-toggle="modal" data-bs-target="#password">
            <td class="col-md-6"><strong>Şifreyi Değiştir</strong></td>
            <td class="col-md-6"></td>
        </li>
    </ul>


    <!-- Modal -->
    <div class="modal fade" id="fullName" tabindex="-1" aria-labelledby="fullNameLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fullNameLabel">Kullanıcı adını değiştir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="userFormGroup">
                        <div class="form-group">
                            <label for="firstName">Ad</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Ad"
                                formControlName="firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Soyad</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Soyad"
                                formControlName="lastName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-primary" (click)="update()">Bitti</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="email" tabindex="-1" aria-labelledby="emailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailLabel">Emaili değiştir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="userFormGroup">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email"
                                formControlName="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-primary" (click)="update()">Bitti</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="password" tabindex="-1" aria-labelledby="passwordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordLabel">Şifreyi değiştir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <app-change-password></app-change-password>
            </div>
        </div>
    </div>
</div>