<form [formGroup]="addCarFormGroup">
    <div class="form-group">
        <label for="brandId">Marka</label>
        <select id="brandId" class="form-control" formControlName="brandId">
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
        </select>
        <div class="alert alert-danger"
            *ngIf="addCarFormGroup.get('brandId').hasError('required')&&addCarFormGroup.get('brandId').touched">Bu alanı
            doldurmak zorunludur</div>
    </div>
    <div class="form-group mt-3">
        <label for="colorId">Renk</label>
        <select id="colorId" class="form-control" formControlName="colorId">
            <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
        </select>
        <div class="alert alert-danger"
            *ngIf="addCarFormGroup.get('colorId').hasError('required')&&addCarFormGroup.get('colorId').touched">Bu alanı
            doldurmak zorunludur</div>
    </div>
    <div class="form-group mt-3">
        <label for="name">Model</label>
        <input type="text" id="name" placeholder="Model" formControlName="name" class="form-control">
        <div class="alert alert-danger"
            *ngIf="addCarFormGroup.get('name').hasError('required')&&addCarFormGroup.get('name').touched">Bu alanı
            doldurmak zorunludur</div>
    </div>
    <div class="form-group mt-3">
        <label for="modelYear">Model Yılı</label>
        <input type="text" id="modelYear" placeholder="Model Yılı" formControlName="modelYear" class="form-control">
        <div class="alert alert-danger"
            *ngIf="addCarFormGroup.get('modelYear').hasError('required')&&addCarFormGroup.get('modelYear').touched">Bu
            alanı doldurmak zorunludur</div>
    </div>
    <div class="form-group mt-3">
        <label for="description">Açıklama</label>
        <input type="text" id="description" placeholder="Açıklama" formControlName="description" class="form-control">
        <div class="alert alert-danger"
            *ngIf="addCarFormGroup.get('description').hasError('required')&&addCarFormGroup.get('description').touched">
            Bu alanı doldurmak zorunludur</div>
    </div>
    <div class="form-group mt-3">
        <label for="findeksPoint">Findeks Puanı</label>
        <input type="number" id="findeksPoint" placeholder="Findeks Puanı" formControlName="findeksPoint" class="form-control">
        <div class="alert alert-danger"
            *ngIf="addCarFormGroup.get('findeksPoint').hasError('required')&&addCarFormGroup.get('findeksPoint').touched">
            Bu alanı doldurmak zorunludur</div>
    </div>
    <div class="form-group mt-3">
        <label for="dailyPrice">Günlük Fiyat</label>
        <input type="number" id="dailyPrice" placeholder="Günlük Fiyat" formControlName="dailyPrice"
            class="form-control">
        <div class="alert alert-danger"
            *ngIf="addCarFormGroup.get('dailyPrice').hasError('required')&&addCarFormGroup.get('dailyPrice').touched">Bu
            alanı doldurmak zorunludur</div>
    </div>
    <button class="btn-primary mt-3" (click)="add()">Ekle</button>
</form>
